* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Gotham;
}

h1,
.title-class {
    text-align: center;
    color: #a91515;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    margin-top: 10px;
}

p {
    text-align: center;
}

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.txtCenter {
    text-align: center;
}

.d-b {
    display: block;
}

.answer,
.check,
.notCheck,
.star,
.logo {
    -user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.answer {
    position: absolute;
    left: 40%;
    bottom: 5%;

}

.check,
.notCheck {
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.popup {
    height: 50vh;
    border-radius: 20px;
    padding: 0 50px;
}

.star {
    width: 35px;
}

.containerFlex {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}

::-moz-placeholder {
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}


@media (max-width: 768px) {
    .answer {
        left: 27%;
    }
}

@media (max-width: 600px) {
    .answer {
        left: 25%;
        width: 300px;
    }
}

@media (max-width: 540px) {
    .answer {
        left: 22%;
        width: 250px;
    }

    .popup {
        height: 70vh;
        padding: 0 20px;
    }
}

@media (max-width: 414px) {
    .popup {
        height: 60vh;
        padding: 0 10px;
    }
}

@media (max-width: 375px) {
    .answer {
        left: 20%;
        width: 225px;
    }

    .containerFlex {
        height: 45vh;
    }

    .popup {
        height: 85vh;
        padding: 0;
    }
}

@media (max-width: 320px) {
    .answer {
        left: 20%;
        width: 200px;
    }

    .containerFlex {
        height: 35vh;
    }
}