.btn {
    cursor: pointer;
    padding: 10px 55px;
    font-family: Gotham;
    font-size: 17px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    background-color: #a91515;
    border-radius: 15px;
    transition: .2s ease-in-out;
    border: none;

    &:hover {
        background-color: lighten($color: #a91515, $amount: 8);
    }
}

.btn-tyc {
    cursor: pointer;
    background-color: #a91515;
    font-family: Gotham;
    font-size: 18px;
    padding: 10px 35px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    border: none;
}

.btn-tyc-cancel {
    cursor: pointer;
    font-family: Gotham;
    font-size: 18px;
    padding: 10px 35px;
    font-weight: 500;
    color: black;
    margin-left: 15px;
    text-decoration: none;
    border-radius: 15px;
    border: 1px solid #a91515;
}

.btn-reply {
    cursor: pointer;
    padding: 10px 55px;
    font-family: Gotham;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    background-color: white;
    border-radius: 15px;
    border: 1px solid #a91515;
    transition: .3s ease-in-out;
    box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 18px -4px rgba(0, 0, 0, 0.75);

    &:hover {
        background-color: #a91515;
        color: white;
    }

    &:focus {
        background-color: #a91515;
        color: white;
    }

}

.btn-square {
    cursor: pointer;
    height: 40px;
    width: 300px;
    font-family: Gotham;
    font-size: 19px;
    font-weight: 500;
    text-decoration: none;
    background-color: white;
    border: 1px solid #a91515;
    transition: .3s ease-in-out;

    &:hover {
        background-color: #a91515;
        color: white;
    }

    &:focus {
        background-color: #a91515;
        color: white;
    }
}

@media (min-width: 768px) {
    .btn-square {
        height: null;
        width: null;
        padding: 10px 55px;
        border-radius: 15px;
    }
}

@media (max-width: 375px) {

    .btn-tyc,
    .btn-tyc-cancel {
        font-size: 16px;
        padding: 10px 20px;
    }
}