.logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding-top: 75px;
}

@media (max-width: 600px) {
    .logo {
        padding-top: 50px;
    }
}

@media (max-width: 320px) {
    .logo {
        padding-top: 10px;
    }
}